@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@500&display=swap');

* {
    font-family: 'IBM Plex Sans JP', sans-serif;
}

.content {
    margin: -3rem;
    background-image: url("https://i.postimg.cc/GpY7Qbbx/Screenshot-2022-11-11-14-35-09.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
}

.maintext {
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    font-weight: 700;
}
.subtext{
    font-size: 30px;
    text-align: center;
    display: flex;
    height: -10rem;
    justify-content: center;
    align-items: center;
}
