@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@500&display=swap');
*{
    font-family: 'IBM Plex Sans JP', sans-serif;
}
.brand{
    padding: 10px;
    display: flex;
}
.title{
    margin-left: 5px;
    font-size: 30px;
    font-weight: 700;
}
.logo{
    width: 50px;
    height: 50px;
}
.navitem{
    padding: 7px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.navitem:hover{
    border-bottom: 4px solid;
}
img{
    margin-top: 0px;
    margin-left: 6px;
    width: 70px;
}
.pains{
    margin-top: -13px;
    display: inherit;
}
Button{
    height: 40px;
}


