@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@500&display=swap');

* {
    font-family: 'IBM Plex Sans JP', sans-serif;
}
.footerimg{
    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    height: auto;
    background-color: black;
}
.footertag{
    text-align: center;
    font-size: 7vw;
    color: white;
}
.footbtn{
    margin-left: 43%;
    margin-right: 43%;
}
.footitem{
    text-align: center;
    color: white;
}
.foothead{
    margin-top: 5rem;
}
.footlist{
    font-size: 1vw;
    font-weight: 100;
}
.copy{
    text-align: center;
    color: white;
}